/* * {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
} */
h1 {
    font-family: 'JetBrains Mono', monospace;
    color: rgb(43, 43, 43);
    font-size: 50px;  
    font-weight: 800;
}
h2, h3, h4, th {
    font-family: 'JetBrains Mono';
    color: rgb(43, 43, 43);
    font-weight: 700;
}
td {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-size: 17px;
}

body {
    background-color: #f8f8f8;
    margin-left: 10px;
    margin-right: 10px;
}

nav {
    color: rgb(185, 185, 185);
    box-shadow: 0px 0px 8px 0px;
    z-index: 1;
}

xmp {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.char {
    color: #ff4444;
    font-weight: 800;
}
.jumbotron {
    padding: 4rem 2rem;
    background-color: rgb(231, 231, 231);
    border-radius: .3rem;  
}

.card {
    color: rgb(194, 194, 194);
    background-color: white;
    font-family: 'JetBrains Mono';
    width: 900px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px 0px;
}
