@font-face {
	font-family: "SFMono Bold";
	src: url("assets/fonts/SFMonoBold.ttf");
}
@font-face {
	font-family: "SFMono Regular";
	src: url("assets/fonts/SFMonoRegular.ttf");
}
@font-face {
	font-family: "SFMono Medium";
	src: url("assets/fonts/SFMonoMedium.ttf");
}
:root {
	--dark: #212529;
	--white: #e4e4e4;
	--red: #de3f3f;
	--default-font-size: 500;
	--selection-color: #959bb9;

	--box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	--left-right-margin: 0px 10px;
}
::selection {
	background-color: var(--selection-color);
}
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background-color: var(--dark);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 1rem;
}

* {
	font-family: "SFMono Medium", sans-serif;
	font-weight: var(--default-font-size);
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
th,
.navbar-brand {
	color: var(--dark);
	font-family: "SFMono Bold", sans-serif;
}
body {
	background-color: var(--dark);
	margin: var(--left-right-margin);
}
footer {
	display: block;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
footer p {
	color: var(--white);
	margin: 20px 20px;
}
p {
	color: var(--white);
}
img {
	max-width: 100%;
	height: auto;
	-webkit-filter: drop-shadow(0px 5px 5px #000000);
	filter: drop-shadow(0px 5px 5px #000000);
}
/* NAVBAR */
nav {
	color: black;
	box-shadow: var(--box-shadow);
	z-index: 1;
}
nav .navbar-nav .nav-link,
.navbar-brand {
	font-family: var(--font);
	color: var(--white) !important;
	padding: 5px 20px;
}
nav a.navbar-brand.btn.btn-outline-light {
	border-radius: 12px !important;
}
nav a.navbar-brand.btn.btn-outline-light:hover {
	color: var(--dark) !important;
}
nav button.navbar-toggler,
nav button span i {
	border: none;
	border-radius: 30px;
	font-size: 20px;
	color: rgba(var(--white), 1);
	transition: background-color 0.5s;
}
nav button.navbar-toggler:focus {
	box-shadow: none;
}
xmp {
	font-size: 17px;
	margin: 0;
	padding: 0;
}
hr {
	color: white;
}
.char {
	color: var(--red);
	font-weight: 700;
}
.jumbotron {
	padding: 100px 0px;
	background-color: #2a2e33;
}
.jumbotron h1,
.jumbotron p {
	color: var(--white);
}
.card {
	color: var(--dark);
	background-color: var(--white);
	border-radius: 10px;
	width: 100%;
	box-shadow: var(--box-shadow);
}
